// Paths

$fonts-folder: "../fonts";
$images-folder: '../img/';

// fonts

$font-primary: "Poiret One", serif;
$font-secondary: 'Raleway', sans-serif;
$font-icons: "Fedcalmus icons";

// Color usage

$color-primary: #ffb914 !default;
$color-secondary: #90b0c8 !default;
$color-tertiary: #475f7f !default;
$color-highlight: #39a4cd !default;
$color-warning: #e44c23 !default;
$color-disable: #cecece !default;
$color-black: #000000 !default;
$color-white: #ffffff !default;

// Descriptive Base Colors

$color-text: #282828 !default;

$main-colors: (
		primary: $color-primary, secondary: $color-secondary, tertiary: $color-tertiary, text: $color-text, warning: $color-warning,
		white: $color-white, black: $color-black
) !default;

// Text

$base-font-size: 20px;

// Font-sizes

$f-xxs: 20px; $f-xs: 26px;  $f-sm: 30px;  $f-md: 36px;  $f-lg: 44px;  $f-xl: 56px; $f-xxl: 76px; // Text font sizes

$text-font-sizes: (
		f-xxs: $f-xxs, f-xs: $f-xs, f-sm: $f-sm, f-md: $f-md, f-lg: $f-lg, f-xl: $f-xl, f-xxl: $f-xxl
) !default;

$heading-font-sizes: (
		h6: $f-xs, h5: $f-sm, h4: $f-md, h3: $f-lg, h2: $f-xl, h1: $f-xxl
) !default;

// Border radiuses

$br-default: 4px;
$br-md: 10px;
$br-lg: 30px;
$br-rounded: 50%;
$br-none: 0;

// Transitions

$transition-dur: .1s;
$transition-dur-lg: .3s;
$transition-dur-xl: .5s;
$transition-delay: 50ms;

// Container

$cont-width: 1820px;
$cont-padding: 30px;

// Resolutions

$screen-lg: 1280px;
$screen-md: 1024px;
$screen-sm: 768px;
$screen-xs: 480px;
$screen-xxs: 360px;