@import "variables";

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: $font-icons !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-video {
  &:before {
    content: $icon-video;
  }
}
.icon-googleplus {
  &:before {
    content: $icon-googleplus;
  }
}
.icon-linkedin {
  &:before {
    content: $icon-linkedin;
  }
}
.icon-twitter {
  &:before {
    content: $icon-twitter;
  }
}
.icon-social {
  &:before {
    content: $icon-social;
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook;
  }
}
.icon-menu {
  &:before {
    content: $icon-menu;
  }
}