/* Typography */

/* Simple text sizes */

@each $key,$val in $text-font-sizes {
	.font-#{$key} {
		font-size: #{$val};
	}
}

/* Heading sizes */

@each $key,$val in $heading-font-sizes {
	#{$key}, .#{$key} {
		font-size: #{$val};
	}
}

/* Text colors */

@each $key,$val in $main-colors {
	.color-#{$key} {
		color: #{$val};
	}
}

/* Text decorations */

.underline {
	text-decoration: underline;
}