/* Header styles */

header {
    background-color: #fff;

    .logo {
        width: 80%;
        padding: 25px;
        background-color: $color-secondary;
    }

    .logo-img {
        max-width: 200px;
    }

    .menu {

        a {
            display: inherit;
            padding-bottom: 8px;
            border-bottom: 2px solid transparent;
            transition: border-color 0.6s;

            &:hover {
                border-color: $color-black;
            }
        }

        li {

            &:hover {
                opacity: 0.7;
            }
        }

        .icon {
            font-size: $f-xs;
            cursor: pointer;
            transition: $transition-dur-lg;

            &:hover {
                opacity: 0.7;
            }
        }
    }
}
