<footer>
    <div class="container">
        <div class="logo-img">
            <a href="#">
                <img src="../assets/img/logo_white.png" alt="Logo image">
            </a>
        </div>
        <div class="flex justify-between align-center mt-10">
            <ul class="menu">
                <li><a href="#">Support</a></li>
                <li><a href="#">Newsletter</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Privacy policy</a></li>
                <li><a href="#">Terms and conditions</a></li>
            </ul>
            <ul class="social-icons">
                <li><a href="#"><i class="icon-facebook"></i></a></li>
                <li><a href="#"><i class="icon-twitter"></i></a></li>
                <li><a href="#"><i class="icon-linkedin"></i></a></li>
                <li><a href="#"><i class="icon-googleplus"></i></a></li>
                <li><a href="#"><i class="icon-video"></i></a></li>
            </ul>
        </div>
        <div class="copyright">
            <p>&copy; fedcalmus production 2018</p>
            <!-- Arrow up needs to be added -->
        </div>
    </div>
</footer>